/*
* COLORS
*/

//Brand
$greenWttj: #00c29a;
$darkGreyWttj: #373942;

$backgroundColor: #1b1c20;
$textColor: #ffffff;
$navButtonColor: #373942;
$iconSvgWhite: $textColor;
$iconSvgGrey: #5f6168;
$navButtonSvg: $iconSvgWhite;
$profilLinkHover: $greenWttj;
