/*
* MEDIAQUERIES
*/

$medium: screen and
  (
    min-width: 1024px
  );

$large: screen and
  (
    min-width: 1280px
  );

$xlarge: screen and
  (
    min-width: 1400px
  );

$xxlarge: screen and
  (
    min-width: 1600px
  );

$height650: screen and
  (
    max-height: 650px
  );

$height768: screen and
  (
    max-height: 768px
  );
