@import "../../styles/functions";
@import "../../styles/mediaqueries";
@import "../../styles/colors";

.widget {
  width: 100%;
  background-color: $backgroundColor;
  color: $textColor;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  &__title {
    font-size: 1.1875rem;
  }

  &__company-link {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      margin-right: rem(13px);
      width: 40px;
      height: 40px;
    }
  }

  &__controls {
    display: flex;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    text-transform: uppercase;
  }

  &__wttj-link,
  &__wttj-link img {
    height: 100%;
  }

  &__profil-link {
    display: flex;
    align-items: center;
    font-size: rem(14.5);

    span {
      margin-right: rem(8);
    }

    svg {
      fill: $textColor;
    }

    &:hover {
      color: $profilLinkHover;
      svg {
        fill: $profilLinkHover;
        transition: all 0.18s ease-in 0s;
      }
      transition: all 0.18s ease-in 0s;
    }
  }

  &__bloc--image,
  &__bloc--video,
  &__bloc--quote {
    width: 100%;
    height: 100%;
  }

  &__bloc--quote {
    width: 100%;
    height: 100%;
  }

  .swiper-container {
    position: relative;
    background-color: $darkGreyWttj;
    overflow: hidden;
    height: 700px;
  }

  .swiper-wrapper {
    height: calc(100% - 4px);
  }

  .swiper-pagination-progressbar {
    position: absolute;
    top: auto;
    left: 0;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    bottom: 4px;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: $profilLinkHover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: left top;
  }

  .swiper-slide {
    display: inline-flex;
    vertical-align: middle;
  }

  @media #{$large} {
    max-width: 1280px;
  }
}
