@import "../../styles/functions";
@import "../../styles/mediaqueries";
@import "../../styles/colors";

.widget {
  background-color: $backgroundColor;
  color: $textColor;

  // Widget header **********************************************************************
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  &__title {
    font-size: 1.1875rem;
  }

  &__company-link {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      margin-right: rem(13px);
      width: 40px;
      height: 40px;
    }
  }

  &__controls {
    display: flex;
  }

  // Widget footer **********************************************************************
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    text-transform: uppercase;
  }

  &__wttj-link,
  &__wttj-link img {
    height: 100%;
  }

  &__profil-link {
    display: flex;
    align-items: center;
    font-size: rem(14.5);

    span {
      margin-right: rem(8);
    }

    svg {
      fill: $textColor;
    }

    &:hover {
      color: $profilLinkHover;
      svg {
        fill: $profilLinkHover;
        transition: all 0.18s ease-in 0s;
      }
      transition: all 0.18s ease-in 0s;
    }
  }

  // Widget blocs **********************************************************************
  &__bloc--image,
  &__bloc--video,
  &__bloc--quote {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__bloc--image,
  &__bloc--video {
    &::after {
      position: absolute;
      top: 30%;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      content: " ";
      z-index: 2;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    }

    // Custom blocs - widget blocs children ***********************************************
    .bloc__bg {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: scale3d(1, 1, 1);
      transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    }

    .bloc__image {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 50px;
      height: 50px;
      z-index: 2;
      transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
      transform: scale3d(0, 0, 1);
    }

    .bloc__video {
      display: flex;
      position: absolute;
      align-items: center;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 1rem;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      box-sizing: border-box;
      z-index: 3;

      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.8125rem;
        margin-top: 0.3rem;
      }
    }

    &:hover {
      .bloc__bg {
        transform: scale3d(1.05, 1.05, 1.05);
        transform-origin: center center;
      }

      .bloc__image {
        transform: scale3d(1, 1, 1);
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__bloc--quote {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      opacity: 0;
      content: " ";
      z-index: 2;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
      transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    // Custom quote bloc **************************************************************
    .bloc__quote {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;

      p {
        line-height: 1.4;
      }
    }
  }

  // Swiper override *******************************************************************
  .swiper-container {
    position: relative;
    background-color: $darkGreyWttj;
    overflow: hidden;
    height: 700px;
  }

  .swiper-pagination-progressbar {
    position: absolute;
    top: auto;
    left: 0;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    bottom: 0;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: $profilLinkHover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: left top;
  }

  // Widget Mediaqeries ****************************************************************
  @media #{$large} {
    max-width: 1280px;
  }
}
